@{
    ViewData["Title"] = "Dispositivos Médicos";
}

<h1 class="mb-4">@ViewData["Title"]</h1>

<div class="text-end mb-3">
    <a asp-action="Create" class="btn btn-success">
        <i class="bi bi-plus-circle me-1"></i> Registar Novo
    </a>

    <a asp-action="Index" class="btn btn-secondary">
        <i class="bi bi-arrow-left-circle"></i> Voltar a Lista
    </a>
</div>

<div class="alert alert-warning d-flex align-items-center border-2" role="alert">
    <i class="bi bi-exclamation-triangle-fill" style="font-size: 4rem;"></i>
    <div class="ps-3">
        <h4 class="alert-heading">@ViewBag.Title não encontrado!</h4>
        <p>Não existe este @ViewBag.Title, adicione um novo ou consulte outro na lista.</p>
    </div>
</div>
