@model FoodPortion
@{
    ViewData["Title"] = "Edit Portioin";
}
<h2>@ViewData["Title"]</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="UnitId" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="FoodName" class="form-label"></label>
        <input asp-for="FoodName" class="form-control" />
        <span asp-validation-for="FoodName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Amount" class="form-label"></label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-warning">Update</button>
    <a asp-action="Index" class="btn btn-secondary">Return</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
