<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Health Romms</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HealthWellbeing.styles.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top"> @* a barra de menu em preto e fixo com letras brancas *@
            <div class="container-fluid">
                <a class="navbar-brand fw-bold fs-3" asp-area="" asp-controller="Home" asp-action="Index">HEALTH ROOMS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                       
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="roomDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Salas</a>
                            <ul class="dropdown-menu" aria-labelledby="roomDropdown">
                                <li><a class="nav-link text-black" asp-area="" asp-controller="Room" asp-action="CreateRoom"> Criar Sala </a></li>
                                <li><a class="nav-link text-black" asp-area="" asp-controller="Room" asp-action="ReadRoom"> Ver Sala </a></li>
                                <li><a class="nav-link text-black" asp-area="" asp-controller="Room" asp-action="UpdateRoom"> Atualizar Sala </a></li>
                                <li><a class="nav-link text-black" asp-area="" asp-controller="Room" asp-action="DeleteRoom"> Eliminar Sala </a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="TypeMaterialDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">TipoMaterial</a>
                            <ul class="dropdown-menu" aria-labelledby="TypeMaterialDropdown">
                                <li><a class="nav-link text-black" asp-area="" asp-controller="TypeMaterial" asp-action="CreateTypeMaterial"> Criar TipoMaterial  </a></li>
                                <li><a class="nav-link text-black" asp-area="" asp-controller="TypeMaterial" asp-action="ReadTypeMaterial"> Ver TipoMaterial </a></li>
                                <li><a class="nav-link text-black" asp-area="" asp-controller="TypeMaterial" asp-action="UpdateTypeMaterial"> Atualizar TipoMaterial </a></li>
                                <li><a class="nav-link text-black" asp-area="" asp-controller="TypeMaterial" asp-action="DeleteTypeMaterial"> Eliminar TipoMaterial </a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="LocationMaterialDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">LocationMaterial</a>
                            <ul class="dropdown-menu" aria-labelledby="LocationMaterialDropdown">
                                <li><a class="nav-link text-black" asp-area="" asp-controller="LocationMaterial" asp-action="CreateLocationMaterial"> Criar LocationMaterial  </a></li>
                                <li><a class="nav-link text-black" asp-area="" asp-controller="LocationMaterial" asp-action="ReadLocationMaterial"> Ver LocationMaterial </a></li>
                                <li><a class="nav-link text-black" asp-area="" asp-controller="LocationMaterial" asp-action="UpdateLocationMaterial"> Atualizar LocationMaterial </a></li>
                                <li><a class="nav-link text-black" asp-area="" asp-controller="LocationMaterial" asp-action="DeleteLocationMaterial"> Eliminar LocationMaterial </a></li>
                            </ul>
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
  @*   Faz o corpo do site ocupar 100% de espaço de forma a empurar o rodope para baixo *@
    <main class="flex-grow-1">
        @RenderBody()
    </main>


    <footer class="bg-black text-white text-center py-3">

        <div class="container">
            <p>© 2025 - Health Rooms - <a href="/Privacidade" class="text-white text-decoration-none fw-bold">Privacidade</a></p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
