@model Tuple<string, string, string> // Item1: alert type, Item2: icon class, Item3: message

@{
    /*
    * THIS VIEW WAS CREATED BY GROUP 1 FOR SHARED REUSABILITY
    * DON'T MODIFY, Instead you can copy into your own folder
    */

    var alertType = HealthWellbeing.Views.Shared.Group1.Functions.ValidateAlertType(Model?.Item1?.ToLower() ?? "info");
    var iconClass = Model?.Item2 ?? "";
    var message = Model?.Item3 ?? "";
}

<div class="alert alert-@alertType d-flex flex-column flex-sm-row align-items-center justify-content-center text-center fs-5 py-3" role="alert" style="min-height: 80px; gap: 0.5rem;">
    @if (!string.IsNullOrWhiteSpace(iconClass))
    {
        <span class="d-inline-block" style="font-size: 1.8rem; line-height: 1;">
            <i class="@iconClass" aria-hidden="true"></i>
            <span class="visually-hidden">Icon</span>
        </span>
    }
    <span class="flex-fill">@message</span>
</div>
