@using HealthWellbeingRoom.Models
@model Equipment

@{
    ViewData["Title"] = "Criar equipamento";
}

<h3>@ViewData["Title"]</h3>

<p>Preencha os dados do novo equipamento.</p>

<form asp-action="Save" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row mb-3">
        <div class="col">
            <label asp-for="Name" class="form-label">Nome</label>
            <input asp-for="Name" class="form-control">
            <small asp-validation="Name"></small>
        </div>
        <div class="col">
            <label asp-for="Quantity" class="form-label">Quantidade</label>
            <input asp-action="Quantity" class="form-control">
            <small asp-validation="Quantity"></small>
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="Description">Descrição</label>
        <textarea asp-for="Description" class="form-control" placeholder=""></textarea>
        <small asp-validation="Description"></small>
    </div>
    <div class="align-content-end">
        <button type="submit" class="btn btn-primary">Gravar</button>
        <button asp-action="Index" class="btn btn-secondary">Cancelar</button>
    </div>
</form>