@{
    ViewData["Title"] = "Lista de Equipamentos";
}

<h3>@ViewData["Title"]</h3>

<br />
<a class="btn btn-primary" asp-action="Create">Novo</a>

<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Qtd</th>
            <th scope="col">Data Criação</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>John</td>
            <td>Doe</td>
            <td></td>
        </tr>
    </tbody>
</table>
