@model HealthWellbeing.Models.LocationMaterial

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>LocationMaterial</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Sector" class="control-label"></label>
                <input asp-for="Sector" class="form-control" />
                <span asp-validation-for="Sector" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room" class="control-label"></label>
                <input asp-for="Room" class="form-control" />
                <span asp-validation-for="Room" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cabinet" class="control-label"></label>
                <input asp-for="Cabinet" class="form-control" />
                <span asp-validation-for="Cabinet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Drawer" class="control-label"></label>
                <input asp-for="Drawer" class="form-control" />
                <span asp-validation-for="Drawer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shelf" class="control-label"></label>
                <input asp-for="Shelf" class="form-control" />
                <span asp-validation-for="Shelf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentificationCode" class="control-label"></label>
                <input asp-for="IdentificationCode" class="form-control" />
                <span asp-validation-for="IdentificationCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observation" class="control-label"></label>
                <input asp-for="Observation" class="form-control" />
                <span asp-validation-for="Observation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
