@model HealthWellBeing.Models.Utente

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Utente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UtenteSNS" class="control-label"></label>
                <input asp-for="UtenteSNS" class="form-control" />
                <span asp-validation-for="UtenteSNS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nif" class="control-label"></label>
                <input asp-for="Nif" class="form-control" />
                <span asp-validation-for="Nif" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumCC" class="control-label"></label>
                <input asp-for="NumCC" class="form-control" />
                <span asp-validation-for="NumCC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genero" class="control-label"></label>
                <input asp-for="Genero" class="form-control" />
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Morada" class="control-label"></label>
                <input asp-for="Morada" class="form-control" />
                <span asp-validation-for="Morada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoPostal" class="control-label"></label>
                <input asp-for="CodigoPostal" class="form-control" />
                <span asp-validation-for="CodigoPostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeEmergencia" class="control-label"></label>
                <input asp-for="NomeEmergencia" class="form-control" />
                <span asp-validation-for="NomeEmergencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroEmergencia" class="control-label"></label>
                <input asp-for="NumeroEmergencia" class="form-control" />
                <span asp-validation-for="NumeroEmergencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
