@model HealthWellbeing.Models.ClienteBalnearioModel
@using HealthWellbeing.Models.Enums




<h2>Novo Cliente</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="ClienteBalnearioId" />

    <div class="form-group">
        <label asp-for="NomeCompleto"></label>
        <input asp-for="NomeCompleto" class="form-control" />
        <span asp-validation-for="NomeCompleto" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Telemovel"></label>
        <input asp-for="Telemovel" class="form-control" />
        <span asp-validation-for="Telemovel" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Morada"></label>
        <input asp-for="Morada" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="TipoCliente"></label>
        <select asp-for="TipoCliente"
                asp-items="Html.GetEnumSelectList<TipoCliente>()"
                class="form-control">
        </select>

    </div>

    <button type="submit" class="btn btn-success">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
