@model IEnumerable<HealthWellbeing.Models.HistoricoAtividade>

@{
    ViewData["Title"] = "Histórico de Atividades";
    bool isAdminOrProf =
        User.IsInRole("Administrador") ||
        User.IsInRole("Profissional");
}

<h1>Histórico de Atividades</h1>

@if (!Model.Any())
{
    <div class="alert alert-info">
        Ainda não existem atividades registadas.
    </div>
}
else
{
    <table class="table table-striped table-hover align-middle">
        <thead>
            <tr>
                @if (isAdminOrProf)
                {
                    <th>Utente</th>
                }
                <th>Exercício</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @if (isAdminOrProf)
                    {
                        <td>@item.UtenteGrupo7.Nome</td>
                    }
                    <td>@item.Exercicio.ExercicioNome</td>
                    <td>@item.DataRealizacao.ToString("dd/MM/yyyy HH:mm")</td>
                </tr>
            }
        </tbody>
    </table>
}

