@model HealthWellbeing.Models.Exercicio
@{
    ViewData["Title"] = "Remover Exercício";
}

<h2 class="text-danger">Tem a certeza que pretende eliminar?</h2>

<div class="card my-3">
    <div class="card-body">
        <strong>@Model.ExercicioNome</strong><br />
        @Model.Descricao
    </div>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="ExercicioId" />
    <button type="submit" class="btn btn-danger">
        <i class="fas fa-trash-alt"></i> Apagar
    </button>
    <a asp-action="Index" class="btn btn-secondary">
        Cancelar
    </a>
</form>
