@model HealthWellbeing.Models.Activity_

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Activity_</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Activity_Id" />
            <div class="form-group">
                <label asp-for="Activity_Name" class="control-label"></label>
                <input asp-for="Activity_Name" class="form-control" />
                <span asp-validation-for="Activity_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity_Description" class="control-label"></label>
                <input asp-for="Activity_Description" class="form-control" />
                <span asp-validation-for="Activity_Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity_Type" class="control-label"></label>
                <input asp-for="Activity_Type" class="form-control" />
                <span asp-validation-for="Activity_Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberSets" class="control-label"></label>
                <input asp-for="NumberSets" class="form-control" />
                <span asp-validation-for="NumberSets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberReps" class="control-label"></label>
                <input asp-for="NumberReps" class="form-control" />
                <span asp-validation-for="NumberReps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weigth" class="control-label"></label>
                <input asp-for="Weigth" class="form-control" />
                <span asp-validation-for="Weigth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
