@model HealthWellbeing.Models.GrupoMuscular

@{
    ViewData["Title"] = "Criar Grupo Muscular";
}

<h1>@ViewData["Title"]</h1>
<hr>

<div class="row">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

        <div class="mb-2">
            <label asp-for="GrupoMuscularNome" class="control-label p-2"></label>
            <input asp-for="GrupoMuscularNome" class="form-control" />
            <span asp-validation-for="GrupoMuscularNome" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="LocalizacaoCorporal" class="control-label p-2"></label>
            <input asp-for="LocalizacaoCorporal" class="form-control" />
            <span asp-validation-for="LocalizacaoCorporal" class="text-danger"></span>
        </div>

        <div>
            <a asp-action="Index" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Voltar à Lista
            </a>
            <button type="submit" class="btn btn-success">
                <i class="fas fa-save"></i> Criar Grupo Muscular
            </button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
