@model HealthWellbeing.Models.ProfissionalExecutante

@{
    ViewData["Title"] = "Editar Profissional Executante";
}

<div class="row justify-content-center mt-3">
    <div class="col-md-6">
        <div class="card shadow">

            <div class="card-header bg-primary text-white">
                <i class="bi bi-pencil-square"></i> &nbsp; <h4 class="mb-0 d-inline">Editar Profissional</h4>
            </div>

            <div class="card-body">
                <form asp-action="Edit" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                    <input type="hidden" asp-for="ProfissionalExecutanteId" />

                    <div class="form-group mb-3">
                        <label asp-for="Nome" class="form-label"></label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Funcao" class="form-label"></label>
                        <input asp-for="Funcao" class="form-control" />
                        <span asp-validation-for="Funcao" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Telefone" class="form-label"></label>
                        <input asp-for="Telefone" class="form-control" />
                        <span asp-validation-for="Telefone" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="d-flex justify-content-end gap-2 mt-4">

                        <a asp-action="Index" class="btn btn-secondary">
                            <i class="bi bi-arrow-left-circle-fill"></i> Back to List
                        </a>

                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-floppy-fill"></i> Guardar Alterações
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}