@model HealthWellbeing.Models.Alimento

<h2>Eliminar Alimento</h2>

<p>Tem a certeza que deseja eliminar este alimento?</p>

<ul>
    <li><b>Nome:</b> @Model.Name</li>
    <li><b>Kcal:</b> @Model.KcalPor100g</li>
</ul>

<form method="post" asp-action="Delete" asp-route-id="@Model.AlimentoId">
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
