@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Alimento
@{
    ViewData["Title"] = "Editar Alimento";
}
<h1>Editar Alimento</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="AlimentoId" />
    
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Categoria</label>
        <select asp-for="CategoriaAlimentoId" class="form-select" asp-items="ViewBag.CategoriaAlimentoId"></select>
    </div>
    <div class="row">
        
        <div class="col-md-3 mb-3">
            <label asp-for="KcalPor100g" class="form-label"></label>
            <input asp-for="KcalPor100g" class="form-control" />
            <span asp-validation-for="KcalPor100g" class="text-danger"></span>
        </div>
        <div class="col-md-3 mb-3">
            <label asp-for="ProteinaGPor100g" class="form-label"></label>
            <input asp-for="ProteinaGPor100g" class="form-control" />
            <span asp-validation-for="ProteinaGPor100g" class="text-danger"></span>
        </div>
        <div class="col-md-3 mb-3">
            <label asp-for="HidratosGPor100g" class="form-label"></label>
            <input asp-for="HidratosGPor100g" class="form-control" />
            <span asp-validation-for="HidratosGPor100g" class="text-danger"></span>
        </div>
        <div class="col-md-3 mb-3">
            <label asp-for="GorduraGPor100g" class="form-label"></label>
            <input asp-for="GorduraGPor100g" class="form-control" />
            <span asp-validation-for="GorduraGPor100g" class="text-danger"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

