@model HealthWellbeing.Models.ProblemaSaude

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProblemaSaude</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProblemaSaudeId" />
            <div class="form-group">
                <label asp-for="ProblemaCategoria" class="control-label"></label>
                <input asp-for="ProblemaCategoria" class="form-control" />
                <span asp-validation-for="ProblemaCategoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProblemaNome" class="control-label"></label>
                <input asp-for="ProblemaNome" class="form-control" />
                <span asp-validation-for="ProblemaNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZonaAtingida" class="control-label"></label>
                <input asp-for="ZonaAtingida" class="form-control" />
                <span asp-validation-for="ZonaAtingida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfissionalDeApoio" class="control-label"></label>
                <input asp-for="ProfissionalDeApoio" class="form-control" />
                <span asp-validation-for="ProfissionalDeApoio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gravidade" class="control-label"></label>
                <input asp-for="Gravidade" class="form-control" />
                <span asp-validation-for="Gravidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
