@model ComponentesAlimento
@{
    ViewData["Title"] = "Details";
}
<h1>Detalhes</h1>
<dl class="row">
    <dt class="col-sm-3">Nome</dt>
    <dd class="col-sm-9">@Model.Name</dd>
    <dt class="col-sm-3">Description</dt>
    <dd class="col-sm-9">@Model.Description</dd>
</dl>
<p>
    <a asp-action="Edit" asp-route-id="@Model.CompFoodID" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>

    <form asp-action="Delete" asp-route-id="@Model.CompFoodID" method="post" class="d-inline">
        <button type="submit" class="btn btn-danger"
                onclick="return confirm('Tem a certeza que quer eliminar?');">
            Apagar
        </button>
    </form>
</p>
