@model HealthWellbeing.Models.ExameTipo

@{
    ViewData["Title"] = "Criar Novo Tipo de Exame";
}

<div class="container mt-4">

    <h1 class="display-5 mb-3">Criar Novo Tipo de Exame</h1>

    <hr />

    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card shadow-lg p-3">
                <div class="card-body">
                    <form asp-action="Create">

                        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

                        <div class="mb-3">
                            <label asp-for="Nome" class="form-label"></label>
                            <input asp-for="Nome" class="form-control" placeholder="Ex: Análise de Sangue" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Descricao" class="form-label"></label>
                            <textarea asp-for="Descricao" class="form-control" rows="3" placeholder="Descrição detalhada do exame."></textarea>
                            <span asp-validation-for="Descricao" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="EspecialidadeId" class="form-label">Especialidade</label>

                            <select asp-for="EspecialidadeId" class="form-select" asp-items="@(ViewData["EspecialidadeId"] as SelectList)">
                                <option value="">-- Selecione a Especialidade --</option>
                            </select>

                            <span asp-validation-for="EspecialidadeId" class="text-danger"></span>
                        </div>

                        <div class="d-flex justify-content-between mt-4">
                            <button type="submit" value="Create" class="btn btn-success">
                                <i class="bi bi-save"></i> Salvar
                            </button>

                            <a asp-action="Index" class="btn btn-secondary">
                                <i class="bi bi-arrow-left-short"></i> Voltar
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}