@model Member
@{
    ViewData["Title"] = "CreateMember";
}

<div class="d-flex justify-content-center">
    <div class="text-center" style="width: 100%; max-width: 400px;">
        @* Titlle *@
        <h1 class="mb-5">Become a Member!</h1>
        @*
        <form asp-action="CreateMember" method="post">
            <div class="mb-3">
                <input asp-for="ClientRecognizer" class="form-control" placeholder="Enter your client e-mail or phone number.">
                <span asp-validation-for="ClientRecognizer" class="text-danger small"></span>
            </div>
        </form>
        *@
    </<div>
</div>

