@model HealthWellbeing.Models.Consumivel

@{
    ViewData["Title"] = "Registar Consumiveis";
}

<h1>Registo de Consumiveis</h1>

<form asp-action="Create" method="post" class="mt-4">
    <div class="mb-3">
        <label class="form-label">Nome</label>
        <input type="text" class="form-control" name="Nome" />
    </div>

    <div class="mb-3">
        <label class="form-label">Categoria</label>
        <input type="text" class="form-control" name="Categoria" />
    </div>

    <div class="mb-3">
        <label class="form-label">Zona de Armazenamento</label>
        <input type="text" class="form-control" name="ZonaArmazenamento" />
    </div>

    <div class="mb-3">
        <label class="form-label">Fornecedores</label>
        <input type="text" class="form-control" name="Fornecedores" placeholder="Separar por vírgula" />
    </div>

    <div class="mb-3">
        <label class="form-label">Stock</label>
        <input type="number" class="form-control" name="Stock" />
    </div>
    
    <!--TODO: conectar com a database para ir buscar as salas quando as mesmas tiverem inseridas-->
    <div class="form-floating">
        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
            <option selected>Open this select menu</option>
            <option value="1">Exemplo sala 1</option>
            <option value="2">Exemplo sala 2</option>
            <option value="3">Exemplo sala 3</option>
        </select>
        <label for="floatingSelect">Works with selects</label>
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

