@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center mt-5">
    <h1 class="display-4 text-primary">Bem-vindo ao HealthWellbeing</h1>
    <p class="lead">Aqui pode agendar os seus serviços de bem-estar e Terapias.</p>
</div>

