@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to the Home Page</h1>

<p>here you can choose wich functionality you want to use</p>


<a asp-action="Register">To register an appointement click here!</a>
<a asp-controller="Account" asp-action="Login" class="btn btn-primary">Login</a>
<a asp-controller="Account" asp-action="Register" class="btn btn-secondary">Registar</a><a asp-action="Register">To register an appointement click here!</a>
<a asp-controller="Account" asp-action="Login" class="btn btn-primary">Login</a>
<a asp-controller="Account" asp-action="Register" class="btn btn-secondary">Registar</a><a asp-action="Register">To register an appointement click here!</a>
<a asp-controller="Account" asp-action="Login" class="btn btn-primary">Login</a>
<a asp-controller="Account" asp-action="Register" class="btn btn-secondary">Registar</a><a asp-action="Register">To register an appointement click here!</a>
<a asp-controller="Account" asp-action="Login" class="btn btn-primary">Login</a>
<a asp-controller="Account" asp-action="Register" class="btn btn-secondary">Registar</a><a asp-action="Register">To register an appointement click here!</a>
<a asp-controller="Account" asp-action="Login" class="btn btn-primary">Login</a>
<a asp-controller="Account" asp-action="Register" class="btn btn-secondary">Registar</a>