
@{
    ViewData["Title"] = "NoPathologys";
}

<h1>No Pathologys registered yet</h1>

<a asp-action="RegisterPathology" class="btn btn-primary">Register Pathology</a>
<a asp-action="Index" class="btn btn-secondary">Back</a>

