@model IEnumerable<Pathology>

@{
    ViewData["Title"] = "PathologyList";
}

<h1>PathologyList</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Severity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Pathology in Model)
        {
            <tr>
                <td>@Pathology.PathologyId</td>
                <td>@Pathology.Name</td>
                <td>@Pathology.Description</td>
                <td>@Pathology.Severity</td>
            </tr>
        }
    </tbody>
</table>

