
@{
    ViewData["Title"] = "Pathology Register Complete";
}

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">@ViewBag.Title</h4>
    <p>Thank you for registering the pathology!</p>
    <hr>
</div>
