@model IEnumerable<TypeTreatment>


@{
    ViewData["Title"] = "TypeTreatmentList";
}

<h1>TypeTreatmentList</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>

            <th scope="col">Priority</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var TypeTreatment in Model)
        {
            <tr>
                <td>@TypeTreatment.TypeTreatmentId</td>
                <td>@TypeTreatment.Name</td>
                <td>@TypeTreatment.Description</td>
                <td>@TypeTreatment.EstimatedDuration</td>
            </tr>
        }
    </tbody>
</table>

<button asp-action="Index" class="btn btn-primary"> Back </button>
