@model TypeTreatment

@{
    ViewData["Title"] = "TypeTreatmentRegisterComplete";
}

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">@ViewBag.Title</h4>
    <p>Thank you for registering!</p>
    <hr>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title text-success">@ViewBag.Title</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>

        <hr />

        <div mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" readonly class="form-control-plaintext">
        </div>

        <div mb-3">
            <label asp-for="Description" class="text-secondary"></label>
            <input asp-for="Description" readonly class="form-control-plaintext">
        </div>
        <div mb-3">
            <label asp-for="EstimatedDuration" class="text-secondary"></label>
            <input asp-for="EstimatedDuration" readonly class="form-control-plaintext">
        </div>

        <div mb-3">
            <label for="WillAttend" class="text-secondary">Will attend the Priority</label>
            <input readonly class="form-control-plaintext" id="WillAttend" value="@Model.IsPriorityText">
        </div>
        <hr />

        <a href="Index" class="card-link">OK</a>

    </div>
</div>

