@model HealthWellbeing.Models.AlimentoSubstituto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AlimentoSubstituto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AlimentoSubstitutoId" />
            <div class="form-group">
                <label asp-for="AlimentoOriginalId" class="control-label"></label>
                <select asp-for="AlimentoOriginalId" class="form-control" asp-items="ViewBag.AlimentoOriginalId"></select>
                <span asp-validation-for="AlimentoOriginalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlimentoSubstitutoRefId" class="control-label"></label>
                <select asp-for="AlimentoSubstitutoRefId" class="form-control" asp-items="ViewBag.AlimentoSubstitutoRefId"></select>
                <span asp-validation-for="AlimentoSubstitutoRefId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Motivo" class="control-label"></label>
                <input asp-for="Motivo" class="form-control" />
                <span asp-validation-for="Motivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProporcaoEquivalente" class="control-label"></label>
                <input asp-for="ProporcaoEquivalente" class="form-control" />
                <span asp-validation-for="ProporcaoEquivalente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observacoes" class="control-label"></label>
                <input asp-for="Observacoes" class="form-control" />
                <span asp-validation-for="Observacoes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FatorSimilaridade" class="control-label"></label>
                <input asp-for="FatorSimilaridade" class="form-control" />
                <span asp-validation-for="FatorSimilaridade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
