@model HealthWellbeing.Models.Beneficio

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Benefício</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeBeneficio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeBeneficio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoBeneficio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescricaoBeneficio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BeneficioId" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Voltar à Lista</a>
</div>
