@model HealthWellbeing.Models.AgendamentoModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/_ViewImports.cshtml";
}

<h1>Create</h1>

<h4>AgendamentoModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataHoraInicio" class="control-label"></label>
                <input asp-for="DataHoraInicio" class="form-control" />
                <span asp-validation-for="DataHoraInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataHoraFim" class="control-label"></label>
                <input asp-for="DataHoraFim" class="form-control" />
                <span asp-validation-for="DataHoraFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UtenteBalnearioId" class="control-label"></label>
                <select asp-for="UtenteBalnearioId" class ="form-control" asp-items="ViewBag.UtenteBalnearioId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TerapeutaId" class="control-label"></label>
                <select asp-for="TerapeutaId" class ="form-control" asp-items="ViewBag.TerapeutaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ServicoId" class="control-label"></label>
                <select asp-for="ServicoId" class ="form-control" asp-items="ViewBag.ServicoId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
