@{
    ViewData["Title"] = "Gestão de Tratamentos";
}

<div class="text-center">
    <a type="button" class="btn btn-primary" asp-area="" asp-controller="Nurses" asp-action="Index">Enfermeiros</a>
    <a type="button" class="btn btn-primary" asp-area="" asp-controller="Pathologies" asp-action="Index">Patologias</a>
    <a type="button" class="btn btn-primary" asp-area="" asp-controller="TreatmentTypes" asp-action="Index">Tipos de Tratamentos</a>
    <a type="button" class="btn btn-primary" asp-area="" asp-controller="TreatmentRecords" asp-action="Index">Registos de Tratamentos</a>
</div>
