@model HealthWellbeing.Models.TipoExercicio

@{
    ViewData["Title"] = "Detalhes do Tipo de Exercício";
}

<h1 class="mb-4">Detalhes</h1>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4">Nome</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.NomeTipoExercicios)</dd>

                    <dt class="col-sm-4">Descrição</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.DescricaoTipoExercicios)</dd>

                    <dt class="col-sm-4">Caracteristicas</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.CaracteristicasTipoExercicios)</dd>
                        
                    
                </dl>

                <div class="d-flex justify-content-between mt-4">
                    <a asp-action="Edit" asp-route-id="@Model.TipoExercicioId" class="btn btn-warning">Editar</a>
                    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
                </div>
            </div>
        </div>
    </div>
</div>
