@model HealthWellbeing.Models.Terapeuta

@{
    ViewData["Title"] = "Editar Terapeuta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar Terapeuta</h1>

<hr />

@* Formulário*@ 
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    @*ID do terapeuta *@
    <input type="hidden" asp-for="TerapeutaId" />

    @*Nome *@
    <div class="form-group">
        <label asp-for="Nome" class="control-label"></label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    @*Especialidade *@
    <div class="form-group">
        <label asp-for="Especialidade" class="control-label"></label>
        <input asp-for="Especialidade" class="form-control" />
        <span asp-validation-for="Especialidade" class="text-danger"></span>
    </div>

    @*Telefone *@
    <div class="form-group">
        <label asp-for="Telefone" class="control-label"></label>
        <input asp-for="Telefone" class="form-control" />
        <span asp-validation-for="Telefone" class="text-danger"></span>
    </div>

    @*Email *@
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    @* Ano Entrada *@
    <div class="form-group">
        <label asp-for="AnoEntrada" class="control-label"></label>
        <input asp-for="AnoEntrada" class="form-control" />
        <span asp-validation-for="AnoEntrada" class="text-danger"></span>
    </div>

    @*Ativo *@
    <div class="form-group form-check">
        <input class="form-check-input" asp-for="Ativo" />
        <label class="form-check-label" asp-for="Ativo"></label>
    </div>

    @* Botões*@ 
    <div class="form-group mt-3">
        <input type="submit" value="Guardar Alterações" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Voltar à Lista</a>
    </div>
</form>

@section Scripts {
    @{

        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
