@model HealthWellbeing.Models.UtenteSaude
@{
    ViewData["Title"] = "Apagar Utente";
}
<h1>Apagar</h1>

<h4>Tens a certeza que queres apagar este utente?</h4>
<dl class="row">
    <dt class="col-sm-3">Nome</dt>
    <dd class="col-sm-9">@Model.NomeCompleto</dd>
    <dt class="col-sm-3">NIF</dt>
    <dd class="col-sm-9">@Model.Nif</dd>
    <dt class="col-sm-3">NUS</dt>
    <dd class="col-sm-9">@Model.Nus</dd>
</dl>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="UtenteSaudeId" />
    <button type="submit" class="btn btn-danger">Apagar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
