@model HealthWellbeing.Models.UtenteSaude
@{
    ViewData["Title"] = "Editar Utente";
}
<h1>Editar Utente</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="UtenteSaudeId" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.Partial("_FormUtenteSaude", Model)
    <button type="submit" class="btn btn-success">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
