
@{
    ViewData["Title"] = "CreateRoom";
}

<h1>Criar Sala</h1>

@* <form asp-action="CreateRoom" method="post">
    <div class="mb-3">
        <label asp-for="Nome" class="form-label"></label>
        <input asp-for="Nome" class="form-control" placeholder="Enter your name">
        <span asp-validation-for="Nome" class="text-danger small"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" placeholder="Enter your email">
        <span asp-validation-for="Email" class="text-danger small"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Phone" class="form-label"></label>
        <input asp-for="Phone" class="form-control" placeholder="Enter your phone">
        <span asp-validation-for="Phone" class="text-danger small"></span>
    </div>

    <div class="mb-3">
        <label asp-for="WillAttend" class="form-label">
            I will attend the party
        </label>

        <div class="form-check">
            <input asp-for="WillAttend" id="will_attend_maybe" class="form-check-input" type="radio" value="" checked>
            <label for="will_attend_maybe" class="form-check-label">
                Don't Know
            </label>
        </div>

        <div class="form-check">
            <input asp-for="WillAttend" id="will_attend_yes" class="form-check-input" type="radio" value="true">
            <label for="will_attend_yes" class="form-check-label">
                Yes
            </label>
        </div>

        <div class="form-check">
            <input asp-for="WillAttend" id="will_attend_no" class="form-check-input" type="radio" value="false">
            <label for="will_attend_no" class="form-check-label">
                No
            </label>
        </div>
        <span asp-validation-for="WillAttend" class="text-danger small"></span>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button asp-action="Index" class="btn btn-secondary">Cancel</button>
    </div>
</form> *@