@model Room

@{
    ViewData["Title"] = "Criar Sala";
}

<h1>Criar Sala</h1>

<!--mostrar erros de validacao-->
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

<form asp-action="CreateRoom" method="post">
    

    <div style="margin: 10px;">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <!-- Tipo de Sala -->
                <div class="mb-3">
                    <label asp-for="RoomsType" class="form-label">Tipo de Sala</label>
                    <select asp-for="RoomsType" class="form-select" onchange="toggleCamposEspecificos()">
                        <option value="">Selecione o tipo...</option>
                        <option value="Consultas">Consultas</option>
                        <option value="Tratamentos">Tratamentos</option>
                    </select>
                </div>

                <!-- Especialidade -->
                <div class="mb-3">
                    <label asp-for="Specialty" class="form-label">Especialidade</label>
                    <select asp-for="Specialty" class="form-select" onchange="toggleCamposEspecificos">
                        <option value="">Selecione o tipo primeiro...</option>
                        <option value="Cardiologia">Cardiologia</option>
                        <option value="Dermatologia">Dermatologia</option>
                        <option value="Pediatria">Pediatria</option>
                        <option value="Ginecologia">Ginecologia</option>
                        <option value="Urologia">Urologia</option>
                        <option value="Neurologia">Neurologia</option>
                        <option value="Psiquiatria">Psiquiatria</option>
                        <option value="Oftalmologia">Oftalmologia</option>
                        <option value="Otorrinolaringologia">Otorrinolaringologia</option>
                        <option value="Endocrinologia">Endocrinologia</option>
                        <option value="Reumatologia">Reumatologia</option>
                        <option value="Gastroenterologia">Gastroenterologia</option>
                        <option value="Pneumologia">Pneumologia</option>
                        <option value="Nefrologia">Nefrologia</option>
                        <option value="Medicina Geral e Familiar">Medicina Geral e Familiar</option>
                    </select>
                </div>


                <!-- Nome da Sala -->
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Nome da Sala</label>
                    <input asp-for="Name" class="form-control" placeholder="Ex: Consulta-Cardio-01">
                </div>

                <!-- Localização -->
                <div class="mb-3">
                    <label asp-for="Location" class="form-label">Localização</label>
                    <input asp-for="Location" class="form-control" placeholder="Ex: Piso 2, Ala B">
                </div>

                <!-- HorarioFuncionamento -->
                <div class="mb-3">
                    <label asp-for="OperatingHours" class="form-label">Horário de Funcionamento</label>
                    <input asp-for="OperatingHours" class="form-control" placeholder="Ex: 08:00 - 18:00" />
                    <span asp-validation-for="OperatingHours" class="text-danger small"></span>
                </div>

                <!-- Estado -->
                <div class="mb-3">
                    <label asp-for="Status" class="form-label">Estado</label>
                    <select asp-for="Status" class="form-select" onchange="toggleCamposEspecificos()">
                        <option value="">Selecioneo Estado...</option>
                        <option value="Disponivel">Disponivel</option>
                        <option value="Indisponivel">Indisponivel</option>
                        <option value="Limpeza">Limpeza</option>
                        <option value="Manutencao">Manutencao</option>
                        <option value="ForaDeServico">ForaDeServico</option>
                    </select>
                </div>

                <!-- Observações -->
                <div class="mb-3">
                    <label asp-for="Notes" class="form-label">Observações</label>
                    <textarea asp-for="Notes" class="form-control" rows="4" placeholder="Notas adicionais sobre a sala..."></textarea>
                    <span asp-validation-for="Notes" class="text-danger small"></span>
                </div>

                <!-- Botao enviar e cancelar-->

                <div class="container mt-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex flex-column flex-md-row justify-content-between gap-2">
                                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary flex-fill me-lg-2">Cancelar</a>
                                <button type="submit" class="btn btn-primary flex-fill me-lg-2"> Criar </button>
                                <a asp-controller="Room" asp-action="IndexRoom" class="btn btn-primary flex-fill me-lg-2">Ver lista das Salas</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>