@{
    ViewData["Title"] = "Página Inicial";
}

<h1 class="card-title display-5 mb-5">
    @ViewBag.Title
</h1>

<div style="margin: 10px;">
    <div class="card shadow-sm">
        <div class="card-body text-center">
            <h1 class="card-title display-5 mb-3">
                Bemvindo a <span class="text-primary fw-bold">HEALTH ROOMS!</span>
            </h1>
            <p class="card-text fs-5">A sua plataforma de gestão de Salas</p>
            <hr />

            <hr />

            <a asp-controller="Room" asp-action="CreateRoom" class="btn btn-outline-primary mt-3">
                Criar Salas
            </a>
            <a asp-controller="Room" asp-action="ReadRoom" class="btn btn-outline-primary mt-3">
                Ver Salas
            </a>
            <a asp-controller="Room" asp-action="UpdateRoom" class="btn btn-outline-primary mt-3">
                Atualizar Salas
            </a>
            <a asp-controller="Room" asp-action="DeleteRoom" class="btn btn-outline-primary mt-3">
                Eliminar Salas
            </a>
        </div>
    </div>
</div>

