@model HealthWellbeing.Models.Nutritionist

@{
    ViewData["Title"] = "Create Nutritionist";
}
<h1><i class="bi bi-plus-circle"></i> @ViewData["Title"]</h1>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button class="btn btn-primary" type="submit"><i class="bi bi-plus-circle"></i> Create</button>
    <a asp-action="Index" class="btn btn-outline-secondary"><i class="bi bi-backspace"></i> Back</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
