@model HealthWellbeing.Models.Nutritionist
@{
    ViewData["Title"] = "Edit Nutritionist";
    var success = TempData["Success"] as string;
    var error = TempData["Error"] as string;
}
<h1><i class="bi bi-pencil-square"></i> @ViewData["Title"]</h1>

@if (!string.IsNullOrWhiteSpace(success))
{
    <div class="alert alert-success">@success</div>
}
@if (!string.IsNullOrWhiteSpace(error))
{
    <div class="alert alert-danger">@error</div>
}

<form asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="alert alert-warning"></div>
    <input type="hidden" asp-for="NutritionistId" />

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button class="btn btn-primary" type="submit"><i class="bi bi-floppy"></i> Save</button>
    <a asp-action="Index" class="btn btn-outline-secondary"><i class="bi bi-backspace"></i> Back</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
